################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/NightLight-Studio/v16/ipch/AutoPCH/e853de0f3f821a14/VCTMP21108_296984.TEST.56528D86.ipch
/.vs/NightLight-Studio/v16/ipch/AutoPCH/e853de0f3f821a14
/.vs/NightLight-Studio/v16/ipch/AutoPCH/263618c26214feca/TEST.ipch
/.vs/NightLight-Studio/v16/ipch/AutoPCH/263618c26214feca
/.vs/NightLight-Studio/v16/ipch/AutoPCH
/.vs/NightLight-Studio/v16/Browse.VC.opendb
/.vs/NightLight-Studio/v16/Browse.VC.db-wal
/.vs/NightLight-Studio/v16/Browse.VC.db-shm
/.vs/NightLight-Studio/v16/Browse.VC.db
/.vs/NightLight-Studio/v16/.suo
/.vs/NightLight-Studio/v16
/.vs
